body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    padding: 40px;
  }

.top-bar {
    height: 30px;
    background-color: black;
  }
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     position: sticky;
    top:0;
    z-index:1000;
} 
.signup-container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer p {
    font-size: 14px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .footer a:hover {
    text-decoration: underline !important;
}

.breadcrumb-text {
    font-size: 14px;
    color: #aaa;
  }
  .breadcrumb-text span {
    color: #c41f1f;
  }
  .sidebar h6 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  .sidebar a {
    display: block;
    color: #777;
    margin-bottom: 8px;
    text-decoration: none;
  }
  .sidebar a.active {
    color: #e63946;
    font-weight: 600;
  }
  .form-section {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
        color: #121212;

  }
  h2{
    color: black;
  }
h3{
  color: #121212;
}
  .form-section h4 {
    color: #e63946;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .form-control {
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
  }
  .form-label {
    font-weight: 500;
    font-size: 14px;
    color: #121212;

  }
  .btn-cancel {
    background: none;
    border: none;
    color: #555;
  }
  .btn-save {
    background-color: #e63946;
    color: #fff;
  }
  .top-right {
    text-align: right;
    color: #333;
  }
  .top-right span {
    color: #e63946;
  }

  .dark-theme {
    background-color: #121212;
    color: white;
  }
  
  .dark-theme .navbar,
  .dark-theme footer {
    background-color: #1e1e1e;
    color: white;
  }
  
  .dark-theme a {
    color: #f1f1f1;
  }
  
  #themeToggleBtn {
    background-color: transparent;
    border: 2px solid rgb(54, 54, 54);
    padding: 8px 12px;
    border-radius: 8px;
  }
  
  #themeToggleBtn:hover {
    background-color: orange;
    color: white;
  }
  
  
  